networks:
  ixigo:
    name: ixigo_network

services:
  ############################
  # NODE JS BUILD the csgo parser
  ############################
  my-demcsgoparser: # container name
    image: docker-registry.marco.selfip.net/ixigo/my-demcsgoparser:latest
    networks:
      - ixigo
    build:
      context: ../../
      dockerfile: Scripts/Docker/BuildDemParserCsGo/Dockerfile
  ############################
  # NODE JS BUILD the cs2 parser
  ############################
  my-demcs2parser: # container name
    image: docker-registry.marco.selfip.net/ixigo/my-demcs2parser:latest
    networks:
      - ixigo
    build:
      context: ../../
      dockerfile: Scripts/Docker/BuildDemParserCs2/Dockerfile
  ############################
  # NODE JS BUILD the UI
  ############################
  my-nodejs: # container name
    image: docker-registry.marco.selfip.net/ixigo/my-nodejs:latest
    networks:
      - ixigo
    build:
      context: ./BuildNode
  ############################
  # MAVEN BUILD
  ############################
  my-maven: # container name
    image: docker-registry.marco.selfip.net/ixigo/my-maven:latest
    networks:
      - ixigo
    build:
      context: ./BuildJava
    depends_on:
      - my-nodejs
  ############################
  # Dem Manager Service
  ############################
  dem-manager:
    image: docker-registry.marco.selfip.net/ixigo/dem-manager:latest
    env_file:
      - ./env-spring-config.properties
      - ./env-database.properties
      - ./env-eureka.properties
      - ./env-spring-common.properties
    networks:
      - ixigo
    build:
      context: ./IxigoDemManager
    ports:
      - "8080:8080"
    depends_on:
      - my-maven
      - my-demcs2parser
      - my-demcsgoparser
    volumes:
      - "${DEM_FOLDER}:/demFiles"