logging:
  file:
    name: ./logs/ixigo-dem-manager.log
  level:
    com:
      ixigo:
        demmanager: DEBUG
        library:
          dao: INFO

spring:
  servlet:
    multipart:
      max-file-size: 500MB                                                                                              # To be able to recevie HTTP request with big files
      max-request-size: 500MB                                                                                           # To be able to recevie HTTP request with big files
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher   

server:
  servlet:
    context-path: /demmanager                                                                                           # Do not change this
  tomcat:
    max-swallow-size: 524288000                                                                                         # Maximum size of request body that Tomcat will swallow (500MB in bytes)
    max-http-form-post-size: 524288000                                                                                  # Maximum size of the form content in any HTTP post request (500MB in bytes)
com:
  ixigo:
    demmanager:
      version: ^project.version^  
      