
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"lang="en">
<head>
    <div th:replace="fragments/commonHeadTags.html :: commonHead"></div>
    <div layout:fragment="custom-header"></div>
</head>

<body>
    <!-- Top Bar -->
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">IXI-GO: Monday Nights</span>
        <div>

        </div>
    </nav>
    
    <!-- Page Container -->
    <div class="csgo-container">
    </div>
    
</body>
</html>