
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"lang="en">
<head>
    <div th:replace="fragments/commonHeadTags.html :: commonHead"></div>
    <div layout:fragment="custom-header"></div>
    <script>
	    function init(){
	    	DemFilesManager.init();
	    	PlayersManager.init();
	    	RconApi.init();
	    	DiscordBot.init();
	    	ChartsManager.init();
	    }
    </script>
</head>

<body>
    <!-- Top Bar -->
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">IXI-GO: Monday Nights</span>
        <div>

        </div>
    </nav>
    
    <!-- Page Container -->
    <div class="csgo-container">
        <br><br>
        <br><br>
        <!-- Bootstrap Container -->
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="dem-tab" data-toggle="tab" href="#demDiv" role="tab" aria-controls="dem" aria-selected="true">Dem Files</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="players-tab" data-toggle="tab" href="#playersDiv" role="tab" aria-controls="players" aria-selected="false">Players</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="charts-tab" data-toggle="tab" href="#chartsDiv" role="tab" aria-controls="charts" aria-selected="false">Charts</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="rcon-tab" data-toggle="tab" href="#rconDiv" role="tab" aria-controls="rcon" aria-selected="false">Rcon</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="bot-tab" data-toggle="tab" href="#botDiv" role="tab" aria-controls="bot" aria-selected="false">Discord Bot</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div th:replace="fragments/tabDem.html::tabDem"></div>
                <div th:replace="fragments/tabPlayers.html::tabPlayers"></div>
                <div th:replace="fragments/tabCharts.html::tabCharts"></div>
                <div th:replace="fragments/tabRcon.html::tabRcon"></div>
                <div th:replace="fragments/tabDiscord.html::tabDiscord"></div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalWindow" tabindex="-1" aria-labelledby="modalWindowLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalWindowLabel" style="color: #212529">RCON Response</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <textarea class="form-control" id="rconResp" rows="20"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>