server:
  port: 8763
  servlet:
    context-path: /ixigoproxy                                                                 # Do not change this
  tomcat:
    max-swallow-size: 500MB                                                                   # Maximum size of request body that Tomcat will swallow
    max-http-form-post-size: 500MB                                                            # Maximum size of the form content in any HTTP post request

spring:
  application:
    name: ixigo-proxy                                                                         # Do not change this
  servlet:
    multipart:
      max-file-size: 500MB                                                                    # To be able to recevie HTTP request with big files
      max-request-size: 500MB                                                                 # To be able to recevie HTTP request with big files

management:
  endpoints:
    web:
      exposure:
        include: '*'

ribbon:
  ReadTimeout: 120000                                                                         # processing request time
  ConnectTimeout: 30000                                                                       # connection request time

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: ${IXIGO_EUREKA_SERVER:http://localhost:8765/ixigodiscovery/eureka}         # URL of the discovery service