<div th:fragment="tabCharts" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Totals
****************************************************************************
-->

<div class="tab-pane fade" id="chartsDiv" role="tabpanel" aria-labelledby="charts-tab">
    <!-- START CHARTS -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="chartRoundToConsider">Rounds to consider</label>
                    </div>
                    <select class="custom-select" id="chartRoundToConsider">
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="chartSelectScoreType">Score Type</label>
                    </div>
                    <select class="custom-select" id="chartSelectScoreType">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row" id="chartRowPlayers">
                </div>
            </div>
        </div>
        <div class="col-12">
            <canvas id="playerScoresChart"></canvas>
        </div>
        <div class="col-12">
            &nbsp;
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h5>Maps Played</h5>
        </div>
        <div class="col-12">
            <canvas id="mapsPlayedChart"></canvas>
        </div>
    </div>
    <!-- END Charts -->
</div>

<!--
****************************************************************************
  End Fragment: Totals
****************************************************************************
-->
</div>