<div th:fragment="tabDem" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Totals
****************************************************************************
-->

<div class="tab-pane fade show active" id="demDiv" role="tabpanel" aria-labelledby="dem-tab">
	<!-- START Dem files Accordion -->
	<div class="accordion" id="accordionExample">
	</div>
	<!-- END Dem files Accordion -->
</div>

<!--
****************************************************************************
  End Fragment: Totals
****************************************************************************
-->
</div>