<div th:fragment="tabPlayers" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Totals
****************************************************************************
-->

<div class="tab-pane fade" id="playersDiv" role="tabpanel" aria-labelledby="players-tab">
    <!-- START Players -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectRoundToConsider">Rounds to consider</label>
                    </div>
                    <select class="custom-select" id="selectRoundToConsider">
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectScoreType">Score Type</label>
                    </div>
                    <select class="custom-select" id="selectScoreType">
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectMinPercPlayed">Min % Played</label>
                    </div>
                    <select class="custom-select" id="selectMinPercPlayed">
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <label class="input-group-text" for="penaltyWeigth">Penalty Weight</label>
                    </div>
                    <input id="penaltyWeigth" type="text" class="form-control" placeholder="Penalty Weight" value="0.4">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="partitionType" id="partitionTypeIxigo" value="IXIGO">
                    <label class="form-check-label" for="inlineRadio1">IxiGo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="partitionType" id="partitionTypeStandard" value="SIMPLE">
                    <label class="form-check-label" for="inlineRadio2">Standard</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="partitionType" id="partitionTypeEq" value="FORCE_PLAYERS">
                    <label class="form-check-label" for="inlineRadio3">Equal Numbers</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <button id="setPlayerOnServer" type="button" class="btn btn-secondary btn-block">Set these players on the server</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <div id="usersListWrapper" class="row"></div>
                <br>
            </div>
            <div class="col-12 col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6" id="terroristPlayers">
                        <div class="card">
                            <img src="./pictures/rcon/terrorist.jpg" class="card-img-top" alt="Terrorists">
                            <div class="card-body">
                                <p class="card-text">Team score <span class="badge badge-pill badge-primary"></span></p>
                                <ul class="list-group">
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6" id="ctPlayers">
                        <div class="card">
                            <img src="./pictures/rcon/counterterrorist.jpg" class="card-img-top" alt="Terrorists">
                            <div class="card-body">
                                <p class="card-text">Team score <span class="badge badge-pill badge-primary"></span></p>
                                <ul class="list-group">
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Players -->
</div>

<!--
****************************************************************************
  End Fragment: Totals
****************************************************************************
-->
</div>