<div th:fragment="tabRcon" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Totals
****************************************************************************
-->

<div class="tab-pane fade" id="rconDiv" role="tabpanel" aria-labelledby="dem-tab">
                    <!-- START RCON -->
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="rconHostText">Rcon Host</span>
                </div>
                <input type="text" class="form-control" id="rconHost">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="rconPortText">Rcon Port</span>
                </div>
                <input type="text" class="form-control" id="rconPort" placeholder="27015" value="27015">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="rconPasswText">Rcon Passw</span>
                </div>
                <input type="password" class="form-control" id="rconPassw">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="rconCmd" placeholder="RCON command to send">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="sendRcon">Send</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="rconMapGroup">Map Group</label>
                </div>
                <select class="custom-select" id="rconMapGroup">
                    <option value="mapgroup mg_all_maps">All Maps</option>
                    <option value="mapgroup mg_ixico_maps">Ixigo Maps</option>
                    <option value="mapgroup mg_workshop_maps">Workshop Maps</option>
                    <option value="mapgroup mg_short_maps">Short Maps</option>
                    <option value="mapgroup mg_classic_maps">Classic Maps</option>
                </select>
            </div>
        </div>
    </div>
    <!-- END RCON -->
</div>

<!--
****************************************************************************
  End Fragment: Totals
****************************************************************************
-->
</div>